.film-card {
  outline: 1px solid black;
  width: 350px;
  height: 215px;
  display: flex;
  position: relative;
  margin: 10px;
  /* flex-grow: 1; */
}

.favorites {
  margin: 5px;
  position: absolute;
  right: 4vh;
  height: 25px;
}

.watch-later {
  margin: 5px;
  position: absolute;
  right: 0;
  height: 25px;
}

img {
  border-radius: 10px;
  width: 150px;
}

p {
  padding: 5px;
  width: 100%;
}
